<!DOCTYPE html>
<html>
  <head>
    <!-- Remember I said we would tell you what to put here? Don't worry about these -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png" />

    <title>To-Do: Software Saturdays</title>
    <link rel="stylesheet" href="project.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <h1>To-Do App</h1>
    <h3>A Software Saturdays Final Project</h3>
    <h3>Spring 2021 - VueJS</h3>
    <hr>
    <div id="app">
      <add-tasks
        class="task" 
        v-on:task-added="add_task"
        ></add-tasks>
      <hr>
      <h2>To Do</h2>
      <show-task
        class="task" 
        v-for="task in tasks" 
        v-if="task.status == 'active'"
        v-bind:key="task.id" 
        v-bind:task="task"
        v-on:task-finish="finish_task"
        v-on:task-edited="edit_task"
        v-on:task-delete="delete_task"
        ></show-task>
      <br>
      <hr>
      <h2>Finished</h2>
      <show-finished
        class="task"
        v-for="task in tasks"
        v-if="task.status == 'finished'"
        v-bind:key="task.id"
        v-bind:task="task"
        v-on:task-unfinish="unfinish_task"
        v-on:task-edited="edit_task"
        v-on:task-delete="delete_task"
      ></show-finished>
    </div>
    <script src="https://www.gstatic.com/firebasejs/8.2.10/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.10/firebase-database.js"></script>
    <script src="project.js" ></script>
  </body>
</html>
